*{
    font-family: Garamond, serif;
}

body{
    background-image: url('./assests/purpleWaves.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}