body{
    background-image: url('./assests/purpleWaves.jpeg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}